.detailed-information-container {
    margin: 50px 10px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #343a40;
}

.col-space-divider {
    margin-bottom: 40px;
}

.chart-container {
    margin: 0px;
    margin-top: 50px !important;
    text-align: center;
}

.back-button {
    margin-bottom: 30px;
}